<main [class.dark-theme]="isDarkTheme">

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{ 'app.title' | translate }}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <button mat-icon-button (click)="isDarkTheme = !isDarkTheme">
      <mat-icon>{{ isDarkTheme ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>

        @for (lang of langs; track $index) {
          <button (click)="useLanguage(lang)" mat-raised-button>
            {{ lang }}
          </button>
        }

        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon>home</mat-icon>{{ 'app.home' | translate }}
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/products" routerLinkActive="active">
          <mat-icon>shopping_cart</mat-icon>{{ 'app.products' | translate }}
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/contact" routerLinkActive="active">
          <mat-icon>local_phone</mat-icon>Contact
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/admin" routerLinkActive="active">
          <mat-icon>security</mat-icon>Admin
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <footer>
    <a href="http://www.angularacademy.ca" taget="_blank">www.angularacademy.ca</a> 2024
  </footer>

</main>
